html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  display: flex;
  margin: 0 auto;
  line-height: 133%;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.075rem;
  color: #333;
}

main {
  max-width: 72rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

a {
  color: #005500;
}

h1 {
  margin: 1rem;
  line-height: 100%;
}

figure {
  display: flex;
  margin: 0.825rem 1rem;
}

figure img {
  flex: 1;
  max-width: 100%;
  min-width: 50px;
  border-radius: 5px;
  align-self: start;
}

div {
  margin: 0 1rem;
}

main > div:not(:last-child) {
  margin: 0;
  width: 100%;
  display: flex;
}

main > div:not(:last-child) > :first-child {
  flex: 1 1 auto;
}

main > div:not(:last-child) > :last-child {
  flex: 1 1 30rem;
}

main > div:first-child + div {
  flex-wrap: wrap-reverse;
}

main > div:last-child div {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

main > div:last-child img {
  margin: 0.5rem 1rem;
  max-width: 12rem;
  max-height: 8rem;
}

main > div:first-child + div ul {
  list-style: none;
  margin: 0.825rem 0;
  padding: 0;
}

main > div:first-child div {
  display: flex;
  align-items: center;
  justify-content: center;
}

main > div:first-child ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  border-width: 2px 0 2px;
  border-style: solid;
  border-color: #aaa;
}

main > div:first-child li {
  margin: 0.675rem 1.25rem;
}

main > div:first-child a {
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 48rem) {
  main > div:first-child {
    flex-wrap: wrap;
    flex-direction: column;
  }
  main > div:not(:last-child) > div:last-child {
    flex: 0;
    display: block;
  }
}

@media (max-width: 36rem) {
  main > div:first-child ul {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem 0;
  }
  main > div:first-child li {
    margin: 0.125rem;
  }
  main > div:last-child div {
    flex-direction: column;
  }
  main > div:last-child img {
    max-width: 50%;
  }
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Franklin'), local('LibreFranklin-Regular'),
       url('../fonts/LibreFranklin-Regular.woff2') format('woff2'),
       url('../fonts/LibreFranklin-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 400;
  src: local('Libre Franklin Italic'), local('LibreFranklin-Italic'),
       url('../fonts/LibreFranklin-Italic.woff2') format('woff2'),
       url('../fonts/LibreFranklin-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  src: local('Libre Franklin Bold'), local('LibreFranklin-Bold'),
       url('../fonts/LibreFranklin-Bold.woff2') format('woff2'),
       url('../fonts/LibreFranklin-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 700;
  src: local('Libre Franklin Bold Italic'), local('LibreFranklin-BoldItalic'),
       url('../fonts/LibreFranklin-BoldItalic.woff2') format('woff2'),
       url('../fonts/LibreFranklin-BoldItalic.woff') format('woff');
}
