html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  display: flex;
  margin: 0 auto;
  line-height: 133%;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.075rem;
  color: #333;
}

main {
  max-width: 72rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

a {
  color: #005500;
}

h1 {
  margin: 1rem;
  line-height: 100%;
}

figure {
  display: flex;
  flex: 1 1 30rem;
  margin: 0.825rem 1rem;
}

figure img {
  flex: 1;
  max-width: 100%;
  min-width: 50px;
  border-radius: 5px;
  align-self: start;
}

div {
  margin: 0 1rem;
}

h1 + div {
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
}

h1 + div > div {
  flex: 1 1 auto;
}

h1 + div ul {
  list-style: none;
  margin: 0.825rem 0;
  padding: 0;
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Franklin'), local('LibreFranklin-Regular'),
       url('../fonts/LibreFranklin-Regular.woff2') format('woff2'),
       url('../fonts/LibreFranklin-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 400;
  src: local('Libre Franklin Italic'), local('LibreFranklin-Italic'),
       url('../fonts/LibreFranklin-Italic.woff2') format('woff2'),
       url('../fonts/LibreFranklin-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  src: local('Libre Franklin Bold'), local('LibreFranklin-Bold'),
       url('../fonts/LibreFranklin-Bold.woff2') format('woff2'),
       url('../fonts/LibreFranklin-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 700;
  src: local('Libre Franklin Bold Italic'), local('LibreFranklin-BoldItalic'),
       url('../fonts/LibreFranklin-BoldItalic.woff2') format('woff2'),
       url('../fonts/LibreFranklin-BoldItalic.woff') format('woff');
}
